1. What are data structures, and why are they important?
  - it is a way of organing and stroing the data in sequencial manner.
  - it is important because it help is access the data easily, and upadating
  - it reduces memory uses by the right choice of data structure
  -example : list,stack,tuple

2.  Explain the difference between mutable and immutable data types with examples.
   - mutable data type
      - the data which can be modified after the creation are called mutable data type
      - example:- list and set.
      - a=["apple","banana","mango"]
        a[0]='cherry'
        o/p = ['cherry','banana','mango']
        #these are mutable
   - immutbale data type
      - the data which can not be modified after the creation is called immutable data type.
      - a=("apple","banana","mango")
        a[0]="cherry"
        o/p=error
        #these are immutable
      - example:- string , tuple and dictionary

3. What are the main differences between lists and tuples in Python?
  - The main different between list and tuple are list is mutable and tuple is immutable

4. Describe how dictionaries store data.
  - Dictionary  sotore the data  in {} bracket , inside it ther is  (key:value) form.
  - example:- dic={"Name":"salauddin","email":"sldn@gmail.com","age":22}

5. Why might you use a set instead of a list in Python?
  - Some reason why set is used instead of list
    - set are immutable.
    - set gives unique value means remove the duplicate element.

6. What is a string in Python, and how is it different from a list?
   - String
       - store the sequence of character
       - it is define by 'str',"str" ,''' str  '''
   - list
       - it store multiple data type like int,float,string,boolean
       - it is define by sqaure bracket []

7.  How do tuples ensure data integrity in Python?
  - if we create tuple then we can not chane,modified in the element of tuble because it is immutbale data type but in list after the list is created we can modified and change the element.this show data integrity in ptthon.

8. What is a hash table, and how does it relate to dictionaries in Python?
    - hash table is a data structur which is use as a key value pair in   dictionary
    - we take hashable as a key  in dictionary , tuple is hasable becasue it is immutbale

9. Can lists contain different data types in Python?
    - yes , list can contain different type of data like int,float,string,booleab,complex value .

10. Explain why strings are immutable in Python?
  - Strings is a sequence of character
  - it is immutable so once it object is created then change can't be placed

11. What advantages do dictionaries offer over lists for certain tasks?
     - dicitionary provide key value pairs that is easy retrive data quickly
     - if you have person name ,age and contact number then we can easily find their age  , example dic={'name':'salauddin','age':21}
     dic['age']

12. Describe a scenario where using a tuple would be preferable over a list.
     - tuple is used over list beacuse of immutability we collect the data in tuple which is not change in future example employee_id , student_reg.no,etc
     - tuple is hashable type so we can use it in dictionary as a key
     but (list can't use )

13. How do sets handle duplicate values in Python?
     - set automaticaly remove the duplicate value
     - when we try to insert element which is already in set then it doesnot print that duplicate value

14.  How does the “in” keyword work differently for lists and dictionaries?
      - in list it check the presence of element in the list , example:- lis=["apple","mango",1,3.5,True] "apple" in lis o/p = True
         
      - in dictionary it check only the key element is present or not  example:- dic={'name':'salauddin','age':21} print("name" in my dic) o/p = True print(21 in dic) o/p = False # does not check value directly

15. Can you modify the elements of a tuple? Explain why or why not.
     - we cannot modify in tuple after the object cration because it is immutbale
     - we can not modified it beacuse it is fixed element and this is use where the forforming change is strictily probhabited.

16.  What is a nested dictionary, and give an example of its use case?
     - The dictionary inside dictionary is called nested distionary,
     - example is dic={'name':'salauddin','age':22,'conatact':{'emai_id':'sl@gmail.com','mobile_no':'123654789'}}
     print(dic)

17. Describe the time complexity of accessing elements in a dictionary
     - Accessing elements in a Python dictionary by key has an average-case time complexity of O(1) (constant time).
     - In the worst case, due to hash collisions, the lookup time can degrade to O(n)
     - ther operations (insert, update, delete, membership check) also generally run in O(1) on average.

18.  In what situations are lists preferred over dictionaries
      - when we have simple data list
      - it sorted the list in to ascending order
      - slicing is possible in list

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
      - dictionary are unorderd but python 3.7 version dictionary retain the order of insertion , this means if you iterate over a dictionary ,the item will be returned in they were added
      - You cannot access values by index/position like in a list (e.g., dict[0] will raise an error).
      - You must always retrieve data using the key (dict['name']).

20.  Explain the difference between a list and a dictionary in terms of data retrieval.
     - in list if you want to retrive the data then print list_name[index]
     for example fruits=["apple", "banana", "cherry"] print(fruit[1]) o/p=banana
     - in dictionary if you want to retrive data then it easy to find becuse it is alredy define with key value pair for example fruit_colour={"apple":"red", "banana":"yellow","cherry":"red"}
     print(fruit_color["banana"]) o/p = yellow

In [ ]:
# 1. Write a code to create a string with your name and print it.
'''
name="salauddin"
print("My name is ",name)

'''

In [ ]:
# 2. Write a code to find the length of the string "Hello World".
'''
a=("hello world")
len(a)
'''

In [ ]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming".
'''
a="pyhthon programming"
a[:3]
'''

In [ ]:
# 4. Write a code to convert the string "hello" to uppercase.
'''
st="hello"
st.upper()
'''

In [ ]:
# 5.  Write a code to replace the word "apple" with "orange" in the string "I like apple".
'''
rep="I like apple"
rep.replace("apple","orange")
'''

In [ ]:
# 6.  Write a code to create a list with numbers 1 to 5 and print it.
# '''
lis=[1,2,3,4,5]
print(lis)
# '''

In [ ]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4].
'''
lis=[1,2,3,4]
lis.append(10)
print(lis)
'''

In [ ]:
# 8.  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
'''
lis=[1,2,3,4,5]
lis.remove(3)
print(lis)
'''

In [ ]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
'''
lis=['a','b','c','d']
lis[1]
'''

In [ ]:
# 10.  Write a code to reverse the list [10, 20, 30, 40, 50].
'''
lis=[10,20,30,40,50]
lis[::-1]
'''

In [ ]:
# 11.  Write a code to create a tuple with the elements 100, 200, 300 and print it.
'''
tup=(100,200,300)
print(tup)
'''

In [ ]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
'''
tup=('red', 'green', 'blue', 'yellow')
tup[1:]

'''

In [ ]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
'''
tup=(10, 20, 5, 15)
min(tup)
'''

In [ ]:
# 14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
'''
tup=('dog', 'cat', 'rabbit')
tup.index("cat")
'''

In [ ]:
# 15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
'''
tup=("apple","banana","mango")
"kiwi" in tup
'''

In [ ]:
# 16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it.
'''
s={'a', 'b', 'c'}
print(s)
'''

In [ ]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
'''
s={1, 2, 3, 4, 5}
s.clear()
print(s)
'''

In [ ]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
'''
s={1, 2, 3, 4}
s.remove(4)
print(s)
'''

In [ ]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
'''
s1={1, 2, 3}
s2={3, 4, 5}
s1|s2
'''

In [ ]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
'''
s1={1, 2, 3}
s2={2, 3, 4}
s1&s2
'''

In [ ]:
# 21.  Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
'''
dic={"name": "salauddin", "age": 21, "city":" Bhubaneswar"}
print(dic)
'''

In [ ]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
'''
dic={'name': 'John', 'age': 25}
dic2={"country":"usa"}
dic.update(dic2)
print(dic)

'''

In [ ]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
'''
dic={'name': 'Alice', 'age': 30}
dic.get('name')
'''

In [ ]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
'''
dic={'name': 'Bob', 'age': 22, 'city': 'New York'}
dic.pop("age")
print(dic)
'''

In [ ]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
'''
dic={'name': 'Alice', 'city': 'Paris'}
"city" in dic
'''

In [ ]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.
'''
lis=["apple","mango","orange","banan"]
tup=("apple","mango","orange","banan")
dic={"fruit1":"apple","friut2":"mango","friut3": "orange","friut4":"banan"}
print(lis,tup,dic)
'''

In [ ]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
'''
lis=[4,80,70,85,9]
lis.sort()
print(lis)
'''

In [ ]:
# 28. Write a code to create a list with strings and print the element at the third index.
'''
lis=["salauddin","manish","raju","shyam","monu"]
lis[2]
'''

In [ ]:
# 29. Write a code to combine two dictionaries into one and print the result.
'''
dic={"name":"allen","age":25,"contact":123456789}
dic2={"course":"data science"}
dic.update(dic2)
print(dic)
'''

In [ ]:
# 30. Write a code to convert a list of strings into a set.
'''
lis=["apple","mango","cherry"]
set1=set(lis)
print(set1)
'''